
<div class="khalil">
     
    <div class="box">
      <div class="inner-box">
        
        <div class="forms-wrap">
          <form   class="sign-in-form">
            
  
            <div class="heading">
              <h2>Welcome Back</h2><br>
              <h6>Not registred yet?  </h6>
              <button routerLink="/inscription" class="btnsign">Sign up</button>
            </div>
  
            <div class="actual-form">
              <div class="input-wrap">
                <input type="email" class="input-field" id="Username" placeholder="Username" formControlName="emailId"><br>
  
                
                <label>Name</label>
              </div>
  
              <div class="input-wrap">
                <input
                id="password"
                  type="password"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required
                  formControlName="password"
                />
                
                <label>Password</label>
              </div>
  
              <button type="button"   type="submit"  class="sign-btn" >Sign In</button>
  
              <p class="text">
                Forgotten your password or you login datails?
                <a href="#">Get help</a> signing in
              </p>
            </div>
          </form>
  
          
        </div>
  
        
          <div class="images-wrapper">
            <img src="../../assets/wardrobe.png" class="image img-1 show" alt="" />
            
          </div>
  
          
      
      </div>
    </div>
  
  
  </div>
  
  
  
  